@charset "UTF-8";
.breadcrumbs {
  padding-top: 15px;
}
.breadcrumbs__list {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
}
.breadcrumbs__item a {
  font-size: 13px;
  color: var(--altText);
  text-decoration: none;
}
.breadcrumbs__item a u {
  -webkit-text-decoration: 1px underline;
          text-decoration: 1px underline;
  text-underline-offset: 3px;
  text-decoration-color: transparent;
}
.breadcrumbs__item a::after {
  content: "— ";
  font-weight: normal;
  font-size: 16px;
  line-height: 1;
  margin: 0 5px;
}
@media (any-hover: hover) {
  .breadcrumbs__item a:hover u {
    text-decoration-color: inherit;
    transition: text-decoration-color 0.25s ease-in-out;
  }
}
.breadcrumbs__item:last-child a::after {
  display: none;
}
@media screen and (min-width: 1240px) {
  .breadcrumbs {
    padding-top: 40px;
  }
  .breadcrumbs__item a {
    font-size: 17px;
  }
}
@media screen and (min-width: 1720px) {
  .breadcrumbs {
    padding-top: 72px;
  }
}