.problems {
  margin-bottom: 62px;
}
.problems h2 {
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1720px) {
  .problems {
    margin-bottom: 95px;
  }
  .problems h2 {
    margin-bottom: 75px;
  }
}